* {margin: 0px;padding: 0px;}
html, body {
    height: 100%;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    font-size: 14px;
    padding: 0px;
    background: #ebebeb;
}
a, a:visited{
    text-decoration: none;
    color: #0000cc;
}
table a {
    color: #0000aa;
}
table a:visited {
    color: #000066;
}

#wrapper {
    background: #ebebeb;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -46px;
}

#topBar {
    padding: 12px 0px 15px 0px;	
    background: #fff;
}
#topBar #subTopBar{
    width: 1000px;
    margin: 0 auto;
}
#topBar #user{
    margin-top: 6px;
    float: right;
    text-align: right;
    width: 200px;
}
#topBar #user #userName {			
    padding: 7px 12px;  	
    font-weight: 800;			
}
#topBar #user #userName:hover {		
    background: #eee;
}
#topBar #user:hover ul {
    display: block;   
}
#topBar #user ul {        
    border: 1px solid #bbb;
    color: #333;
    margin-top: 4px;
    display: none;
    position: absolute;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 3px 0px #888;
    -moz-box-shadow: 0px 0px 3px 0px #888;
    box-shadow: 0px 0px 3px 0px #aaa;
}
#topBar #user ul li {
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    background: #fff;
}
#topBar #user ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #111;
    padding-top: 5px ;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 173px;
    display: block;
    text-align: left;
}
#topBar #user ul li a:hover {
    background: #ddd;
    color: #000;
}
/*Tranagle on top of menu user*/
#topBar #user ul:after, #topBar #user ul:before {
    bottom: 100%;
    left: 170px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#topBar #user ul:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}
#topBar #user ul:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #aaa;
    border-width: 7px;
    margin-left: -7px;
}      
/*End - Tranagle on top of menu use */

#nav{
    background: #f9f9f9;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 3px 3px #e8e8e8;
}
#nav #subNav{
    margin: 0px auto;
    display: table;	
}
#nav a {
    margin: 5px 20px 0px 20px;
    padding: 8px 1px;
    font-size: 16px;
    color: #333;
    display: block;
    float:left;
}
#nav a.active{
    font-weight: bold;	
}
#nav a.active, #nav a:hover{
    border-bottom: 3px solid blue;
    color: #000;
}

/* ---------------------    Mian     -----------------------------------------*/
.main{
    margin: 12px auto;
    padding: 10;
    width: 978px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: 0px 2px 2px #e6e6e6;
}
.main .title{
    font-size: 21px;
    padding: 5px 20px 5px 0px;
}
.main #search {
    margin: 0px auto;
    display: table;
}
.main #search input, .main #search select{
    margin-right: 10px;
    float: left;
}
.main #search input[type=text] {    
    height: 37px;	
    width: 280px;
    font-size: 16px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 8px;
}	
.main #search input[type=text]:focus {
    border: 1px solid rgba(81, 203, 238, 1);	
    border-color: #2D9AF9;
}
.main #search select {
    height: 37px;
    padding-left: 5px;
    width: 200px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;	
}
.main #search select:focus {
    border: 1px solid rgba(81, 203, 238, 1);
    border-color: #2D9AF9;
}
.main #search input[type=submit],#header button{
    padding: 8px 20px;
    color: #fff;
    font-size: 17px;
    background: #2D9AF9;
    border-width: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.main #search input[type=submit]:hover, button:hover {
    background: #3074FC;		
}

.main #jobCat {
    margin: 0px auto;
    display: table;
    margin-top: 15px;
}
.main #jobCat table td{
    padding: 8px 15px;
    width: 280px;
    font-size: 15px;	
}
.main #jobCat table td a{
    color: #333;			
}
.main #jobCat table td a:hover{
    color: #000;
    text-decoration: underline;
}

/*------------------------------- Table Jobs -------------------------------------------*/
.main #jobs table {
    font-size: 15px;
    margin-top: 10px ;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.main #jobs table th {
    text-align: left;
}
.main #jobs table td, .main #jobs table th {
    padding: 8px 10px;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.main #jobs table td:nth-child(4) {
    text-align: center;
}

/*------------------------------- Footer -------------------------------------------*/
.push {
    height: 45px;
}
#bottomBar {
    border-top: 1px solid #dadada;
    padding: 0;    
    background: #f0f0f0;
    height: 45px;
}
#bottomBar #subBottomBar {
    margin: 0 auto;
    width: 1000px;
    padding-top: 12px;
}
#bottomBar #subBottomBar a{
    color: #555;
    font-size: 15px;
    margin-right: 25px;
}
#bottomBar #subBottomBar a:hover{
    text-decoration: underline;
}
#bottomBar #subBottomBar img {
    height: 32px;
}


.clear{
    clear:both;
}
.hidden {
    visibility:hidden;
}