.inputFormBox {
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding: 0px 10px 20px 10px;
}
    .inputFormBox a {
        background-color: #fff;
        border: 1px solid #fff;
        padding: 5px 7px;
    }
    .inputFormBox a:hover {
        border: 1px solid #ccc;
    }
    .inputFormBox .formTitle {
        font-size: 25px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .inputFormBox .tableBody {
        padding: 20px;
    }

        .inputFormBox .tableBody table {
            border: none;
            text-align: left;
            font-size: 17px;
        }

            .inputFormBox .tableBody table td {
                border: none;
                margin: 10px;
                height: 45px;
                padding: 0px 5px;
            }

    .inputFormBox .buttomButton {
        margin: 15px 0px 15px 200px;
    }

.tableBody .dataTable {
    border-collapse: collapse;
    font-size: 27px;
}

    .tableBody .dataTable th {
        border: 1px solid #ccc;
        padding: 5px;
        font-weight: 600;
        text-align: center;
    }

    .tableBody .dataTable td {
        border: 1px solid #ccc;
        padding: 6px 7px;
    }
        .tableBody .dataTable th a, .tableBody .dataTable td a {
            border: none;
        }
    .dataTable img {
            margin: 2px;
            max-width: 120px;
            max-height: 100px;
        }

.inputFormBox input[type=text],.inputFormBox textarea, .inputFormBox input[type=password], .inputFormBox select {
    padding: 7px 5px;
    outline: none;
    border: 1px solid #ddd;
    font-size: 17px;
    width: 220px;
    float: left;
    font-family: 'Open Sans', sans-serif;
}
.inputFormBox input:focus,.inputFormBox textarea:focus {
    border: 1px solid #4b8df8;
}

.inputFormBox a.button, .inputFormBox button.button, .inputFormBox input[type=submit].button {
    color: white;
    background-color: #2D9AF9;
    padding: 8px 17px;
    outline: none;
    font-size: 17px;
    float: left;
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    border: none;
}
.inputFormBox .normalHyperLink {
    background-color: #fff;
    padding: 0px;
    border: none;
    color: blue;
    margin: 0px;
}
.inputFormBox a.button:hover, .inputFormBox button.button:hover, .inputFormBox input[type=submit]:hover {
    background-color: #3074FC;
}

#ButtonBalance {
    margin: 0px;
    margin-left: 10px;
}

.inputFormBox span.balance {
    font-weight: bold;
    font-size: 19px;
}

.textAlignCenter {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}

.clear {
    clear: both;
}
